@import "@styles/variables.scss";

.repoSearch__input {
	width: 80%;
	display: flex;
}

.repoSearch__inputField {
	border: 1px solid $border-disabled-dark;
	border-radius: $border-radius;
	padding-left: calc($spacing-unit-4 * 3);
	flex-grow: 1;
	font: inherit;
}

.repoSearch__inputField:focus {
	outline: none;
	border-color: $main-accent;
}

.repoSearch__inputField:disabled {
	background-color: $disabled-light;
}