:root {
	--main-accent: #FF5555;
	--border-disabled-dark: #D9D9D9;
	--disabled-light: #F9F9F9;
	--background-color: #FFFFFF;
	--text-default: #000000;
	--text-hint: #7E7E7E;
	--star-accent: #FF9432;
	--shadow: rgba(182, 182, 182, 0.25);
	--link-hover: #208FBF;
	--border-radius: 6px;
}