/*
	Страница
*/

.git-repo-layout {
	min-height: 100vh;
}

/*
	Блок списка репозиториев
*/

.git-repo-list {
	display: grid;
	row-gap: 16px;
	justify-content: center;
	grid-template-columns: 357px;
	margin: 8px;
}

/*
	Блок поиска
*/

.git-repo-search {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 0;
}

.git-repo-search__input-container {
	width: 80%;
	display: flex;
}

.git-repo-search__input {
	border: 1px solid var(--border-disabled-dark);
	border-radius: var(--border-radius);
	padding-left: 12px;
	flex-grow: 1;
	font: inherit;
}

.git-repo-search__input:focus {
	outline: none;
	border-color: var(--main-accent);
}

.git-repo-search__input:disabled {
	background-color: var(--disabled-light);
}

.git-repo-search__button {
	background-color: var(--main-accent);
	border-radius: var(--border-radius);
	border-style: none;
	cursor: pointer;
	padding: 16px;
	color: var(--background-color);
}

.git-repo-search__icon {
	width: 18px;
	height: 18px;
}

.git-repo-search__button:hover {
	opacity: 0.7;
}

.git-repo-search__button:disabled {
	cursor: default;
	background-color: var(--border-disabled-dark);
}

.git-repo-search__button:disabled:hover {
	opacity: 1;
}

/*
	Блок карточки репозитория
*/

.git-repo-tile {
	display: flex;
	border-radius: var(--border-radius);
	border: 1px solid var(--border-disabled-dark);
	align-items: center;
	color: var(--text-hint);
	box-sizing: border-box;
	width: 100%;
	padding: 12px;
}

.git-repo-tile:hover {
	box-shadow: 0px 2px 6px var(--shadow);
	cursor: pointer;
}

.git-repo-tile__avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-color: var(--main-accent);
	font-size: 40px;
	font-weight: 700;
	color: var(--background-color);
	text-align: center;
	flex-shrink: 0;
	margin-right: 12px;
}

.git-repo-tile__content {
	overflow: hidden;
	flex-grow: 1;
}

.git-repo-tile__repo-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	color: var(--text-default);
	font-weight: 700;
	font-size: 16px;
}

.git-repo-tile__org-name:hover {
	color: var(--link-hover);
}

.git-repo-tile__info {
	display: flex;
}

.git-repo-tile__star-image {
	color: var(--star-accent);
}

.git-repo-tile__stars {
	width: 27%;
}

.git-repo-branch {
	margin-bottom: 4px;
}

.git-repo-branch__sha {
	color: var(--text-hint);
}